/exercic12/nbproject/private/
/exercic12/build/
/exercic12/dist/
/EXERCICI15/nbproject/private/
/EXERCICI15/build/
/EXERCICI15/dist/
/EXERCICI16_GOKU/nbproject/private/
/EXERCICI16_GOKU/build/
/EXERCICI16_GOKU/dist/
/PorgramaLeeCaracteresEnteros/nbproject/private/
